@media screen and (min-width: 1024px){

    #sidebar {
        width: 300px;
        min-width: 300px;
        max-width: 300px;
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        z-index: 999;
        color: #fff;
        transition: all 0.3s;
        box-shadow: 3px 3px 3px rgb(0 0 0 / 20%);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    #sidebar.active {
        position: inherit;
        left: 0px;
    }
}

@media (max-width: 992px) {
    #sidebar {
        width: 300px;
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        z-index: 999;
        color: #fff;
        transition: all 0.3s;
        box-shadow: 3px 3px 3px rgb(0 0 0 / 20%);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    #sidebar.active {
        position: relative;
        left: 0px;
    }
}

@media screen and (max-width: 576px){
    #sidebar {
        width: 300px;
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        z-index: 999;
        color: #fff;
        transition: all 0.3s;
        box-shadow: 3px 3px 3px rgb(0 0 0 / 20%);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    #sidebar.active {
        position: relative;
        left: 0px;
    }
}

#sidebar .sidebar-header {
    padding: .3rem 1rem;
    border-bottom: 1px solid #fff;
}

#sidebar a{
    color: #fff;
}

#sidebar a:hover {
    color: #000 !important;
    background-color: #fff;
}